# --- Python ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log

# --- Environment ---
.env
.venv/
venv/
env/
.idea/
.vscode/
.ipynb_checkpoints/

# --- Data and models ---
*.pth
*.onnx
*.onnx.data
*.pt
*.ckpt
*.h5
*.npz
*.npy
*.zip

# --- Datasets (raw/processed) ---
data/raw/
data/processed/

# --- Jupyter ---
*.ipynb_checkpoints/
.ipynb_checkpoints/

# --- System / cache ---
.DS_Store
Thumbs.db
